<!-- Bootstrap Core CSS -->
<link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/static/admin/css/sb-admin.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="/static/admin/css/plugins/morris.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/static/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<link href="/static/admin/css/patch.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="/static/admin/js/html5shiv.js"></script>
<script src="/static/admin/js/respond.min.js"></script>
<![endif]-->