<!-- jQuery -->
<script src="/static/admin/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/admin/js/bootstrap.min.js"></script>
<script src="/static/admin/js/art-template.js"></script>

<!-- Morris Charts JavaScript -->
<!--<script src="/static/admin/js/plugins/morris/raphael.min.js"></script>-->
<!--<script src="/static/admin/js/plugins/morris/morris.min.js"></script>-->
<!--<script src="/static/admin/js/plugins/morris/morris-data.js"></script>-->