<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li {% if active=="dashboard"%} class="active" {%end%}>
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#user"><i class="fa fa-user"></i> 用户管理
                <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="user" class="collapse in" aria-expanded="true">
                <li {% if active=="user-list"%} class="active" {%end%}>
                    <a href="/user/list">用户列表</a>
                </li>
                <li {% if active=="user-add"%} class="active" {%end%}>
                    <a href="/user/add">用户新增</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#subject"><i class="fa fa-user"></i> 科目管理
                <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="subject" class="collapse in" aria-expanded="true">
                <li {% if active=="subject-list"%} class="active" {%end%}>
                    <a href="/subject/list">科目列表</a>
                </li>
                <li {% if active=="subject-add"%} class="active" {%end%}>
                    <a href="/subject/add">科目新增</a>
                </li>
            </ul>
        </li>

        <!--<li>-->
            <!--<a href="javascript:;" data-toggle="collapse" data-target="#subject"><i class="fa fa-user"></i> 科目管理-->
                <!--<i class="fa fa-fw fa-caret-down"></i></a>-->
            <!--<ul id="subject" class="collapse" aria-expanded="true">-->
                <!--<li {% if active=="user-list"%} class="active" {%end%}>-->
                    <!--<a href="/subject/list">科目列表</a>-->
                <!--</li>-->
                <!--<li {% if active=="user-list"%} class="active" {%end%}>-->
                    <!--<a href="/subject/add">科目新增</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->


        <li {% if active=="dashboard"%} class="active" {%end%}>
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> 章节管理</a>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#question"><i class="fa fa-user"></i> 题目管理
                <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="question" class="collapse">
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
        </li>
        <li>
            <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
        </li>
        <li>
            <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
        </li>
        <li>
            <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
        </li>
        <li>
            <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i>
                Dropdown
                <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
        </li>
        <li>
            <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
        </li>
    </ul>
</div>