<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/global.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="k-container">
  <div class="k-nav">
    <a class="k-nav-a k-nav-a-active" href="/user">user</a>
    <a class="k-nav-a" href="/subject">subject</a>
    <a class="k-nav-a" href="/chapter">chapter</a>
    <a class="k-nav-a" href="/question">question</a>
  </div>

  <div class="k-main">
    <div>
      <div class="form-group form-inline">
        <label>Name</label>
        <input class="form-control" type="text" id="name">
      </div>
      <div class="form-group form-inline">
        <label>Intro</label>
        <input class="form-control" type="text" id="intro">
      </div>
      <div class="form-group form-inline">
        <label>Detail</label>
        <input class="form-control" type="text" id="detail">
      </div>
      <div class="form-group form-inline">
        <label>Image</label>
        <input class="form-control" type="text" id="image">
      </div>
      <div class="form-group form-inline">
        <label>IsLeaf</label>
        <input class="form-control" type="text" id="is_leaf">
      </div>
      <div class="form-group form-inline">
        <label>ParentId</label>
        <select name="parent-subject">
          {%for subject in subjects%}
          <option value={{subject.id}}>{{subject.name}}</option>
          {%end%}
        </select>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>