<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
Index Page

{%for user in data%}
  {{user.id}}, {{user.username}}
{%end%}
</body>
</html>