/**nav-sidebar子导航里面被选中的选中状态**/
.navbar-nav .active > a {
    color: #fff;
    background-color: #080808;
}

html, body, #wrapper, #page-wrapper{
    height: 100%;
}

#page-wrapper{
    overflow: scroll;
}