<!DOCTYPE html>
<html lang="en">
<head>
    {%include tpl/meta.html%}
    <title> kst后台管理系统</title>
    {%include tpl/css.html%}
    {%block css%}{%end%}
</head>
<body>

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        {%include tpl/nav-header.html%}
        {%include tpl/nav-top.html%}
        {%include tpl/nav-sidebar.html%}
    </nav>
    <div id="page-wrapper">

        <div class="container-fluid">

            {%block content%}{%end%}

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

{%include tpl/js.html%}
{%block js%}{%end%}
</body>
</html>
