{%extends base.html%}
{%block content%}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            科目新增
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="index.html">科目管理</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> 科目新增
            </li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <form role="form">
            <div class="form-group">
                <label>科目名称</label>
                <input class="form-control" type="text" name="name">
            </div>
            <div class="form-group">
                <label>科目介绍</label>
                <input class="form-control" type="text" name="intro">
            </div>
            <div class="form-group">
                <label>科目详情</label>
                <input class="form-control" type="text" name="detail">
            </div>
            <div class="form-group">
                <label>科目图片</label>
                <input class="form-control" type="text" name="image"
                       value="http://h5.costoon.com/static/img/common/cst-icon.png">
            </div>
            <div class="form-group">
                <label>是否叶子科目</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="is_leaf" value="1" checked>是
                    </label>
                    <label>
                        <input type="radio" name="is_leaf" value="0">否
                    </label>
                </div>
            </div>

            <div class="form-group" id="parent" data-id="0">
                <label>父科目</label>

            </div>
        </form>


        <button type="submit" class="btn btn-default" id="submit">提交</button>
        <button type="reset" class="btn btn-default">重置</button>
    </div>
</div>
<script type="text/html" id="parent-html">
    <select class="form-control parent">
        <option value="0">无</option>
        <% for (var i = 0; i < data.length; i++){ %>
        <% var item = data[i] %>
        <option value="<%= item.id %>"><%= item.name %></option>
        <%}%>
    </select>
</script>
<!-- /.row -->
<!-- /.row -->
<!-- /.row -->
{%end%}

{%block js%}
<script type="text/javascript">
    //初始化一级科目
    $.get('/api/subject/list').done(function (json) {
        //过滤掉叶子科目
        var data = json.data.filter(function (item) {
            return !item.is_leaf
        })
        if (data.length) $('#parent').append(template.render($('#parent-html').html(), {data: data}))
    }).error(function (err) {
        alert(err.message)
    })

    //监听科目变化
    $('#parent').on('change', '.parent', function (e) {
        //先清除掉后续的联动选项
        $(this).nextAll().remove()
        var id = this.value
        $('#parent').attr('data-id', id)
        //如果id为无，则直接返回
        if (id == 0) return
        //重置data-id
        $.get('/api/subject/list?parent_id=' + id).done(function (json) {
            //过滤掉叶子科目
            var data = json.data.filter(function (item) {
                return !item.is_leaf
            })
            if (data.length) $('#parent').append(template.render($('#parent-html').html(), {data: data}))
        }).error(function (err) {
            alert(err.message)
        })
    })

    $('#submit').click(function () {
        var name = $('input[name=name]').val().trim()
        var intro = $('input[name=intro]').val().trim()
        var detail = $('input[name=detail]').val().trim()
        var image = $('input[name=image]').val().trim()
        var is_leaf = $('input[name=is_leaf]:checked').val()
        var parent_id = $('#parent').attr('data-id').trim()
        $.post('/api/subject/add', {
            name: name,
            intro: intro,
            detail: detail,
            image: image,
            is_leaf: is_leaf,
            parent_id: parent_id
        }).done(function (json) {
            if (json.err === 0) {
                alert(json.msg || '提交成功')
            } else {
                alert(json.msg || '提交失败')
            }
        }).error(function (err) {
            alert(err.message)
        })

    })
</script>
{%end%}