{%extends base.html%}
{%block content%}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            科目列表
        </h1>
        <div style="margin-bottom: 20px;text-align: right" class="j-action">
            <input type="hidden" class="j-add-subject-parent-id">
            <input type="hidden" class="j-add-chapter-parent-id">
            <button class="btn bg-primary j-add-subject">新增科目</button>
            <button class="btn bg-primary j-add-chapter">新增章节</button>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" id="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>科目名称</th>
                    <th>介绍</th>
                    <th>是否叶子科目</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>父科目</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <nav aria-label="Page navigation">

            </nav>

        </div>
    </div>
</div>

<!--编辑科目start-->
<div class="modal fade" id="editSubjectModal" tabindex="-1" role="dialog" aria-labelledby="editSubjectModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editSubjectModalLabel">编辑科目</h4>
            </div>
            <div class="modal-body">

                <form role="form">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <label>科目名称</label>
                        <input class="form-control" type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label>科目介绍</label>
                        <input class="form-control" type="text" name="intro">
                    </div>
                    <div class="form-group">
                        <label>科目详情</label>
                        <input class="form-control" type="text" name="detail">
                    </div>
                    <div class="form-group">
                        <label>科目图片</label>
                        <input class="form-control" type="text" name="image"
                               value="http://h5.costoon.com/static/img/common/cst-icon.png">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary j-edit-subject-submit">提交</button>
            </div>
        </div>
    </div>
</div>
<!--编辑科目end-->


<!--新增科目start-->
<div class="modal fade" id="addSubjectModal" tabindex="-1" role="dialog" aria-labelledby="addSubjectModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addSubjectModalLabel">新增科目</h4>
            </div>
            <div class="modal-body">

                <form role="form">
                    <input type="hidden" name="parent_id" value="0">
                    <div class="form-group">
                        <label>父科目</label>
                        <input class="form-control" disabled type="text" name="parent_name">
                    </div>
                    <div class="form-group">
                        <label>科目名称</label>
                        <input class="form-control" type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label>科目介绍</label>
                        <input class="form-control" type="text" name="intro">
                    </div>
                    <div class="form-group">
                        <label>科目详情</label>
                        <input class="form-control" type="text" name="detail">
                    </div>
                    <div class="form-group">
                        <label>科目图片</label>
                        <input class="form-control" type="text" name="image"
                               value="http://h5.costoon.com/static/img/common/cst-icon.png">
                    </div>
                    <div class="form-group">
                        <label>是否叶子科目</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="is_leaf" value="1" checked>是
                            </label>
                            <label>
                                <input type="radio" name="is_leaf" value="0">否
                            </label>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary j-add-subject-submit">提交</button>
            </div>
        </div>
    </div>
</div>
<!--新增科目end-->


<!--新增章节start-->
<div class="modal fade" id="addChapterModal" tabindex="-1" role="dialog" aria-labelledby="addChapterModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addChapterModalLabel">新增章节</h4>
            </div>
            <div class="modal-body">

                <form role="form">
                    <input type="hidden" name="parent_id" value="0">
                    <div class="form-group">
                        <label>章节标题</label>
                        <input class="form-control" type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label>章节详情</label>
                        <textarea class="form-control" name="detail"></textarea>
                    </div>
                    <div class="form-group">
                        <label>是否叶子章节</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="is_leaf" value="1" checked>是
                            </label>
                            <label>
                                <input type="radio" name="is_leaf" value="0">否
                            </label>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary j-add-chapter-submit">提交</button>
            </div>
        </div>
    </div>
</div>
<!--新增章节end-->

<script type="text/html" id="list-tpl">
    <% for(var i = 0; i < data.length; i++){ %>
    <tr>
        <td><%= data[i].id %></td>
        <td><%= data[i].name %></td>
        <td><%= data[i].intro %></td>
        <td><%= data[i].is_leaf %></td>
        <td><%= data[i].created_at %></td>
        <td><%= data[i].updated_at %></td>
        <td><%= data[i].parent_id %></td>
        <td>
            <% if(!data[i].is_leaf){ %>
            <a href="javascript:void(0);" class="j-check-subject-children" data-id="<%= data[i].id %>">子科目</a>
            <% } %>
            <a href="javascript:void(0);" class="j-edit" data-id="<%= data[i].id %>">编辑</a>
        </td>
    </tr>
    <% } %>
</script>

<!-- /.row -->
{%end%}

{%block js%}
<script type="text/javascript">
    //初始化列表数据
    showSubjectList()

    //查看子科目按钮
    $('#table').on('click', '.j-check-subject-children', function (e) {
        var id = e.target.getAttribute('data-id')
        $('.j-add-subject-parent-id').val(id)
        showSubjectList(id)
    })

    //查看章节按钮
    $('#table').on('click', '.j-check-chapter-children', function (e) {
        var id = e.target.getAttribute('data-id')
        $('.j-add-chapter-parent-id').val(id)
        showChapterList(id)
    })

    //编辑按钮
    $('#table').on('click', '.j-edit', function (e) {
        var id = e.target.getAttribute('data-id')
        $.get('/api/subject/detail/' + id).done(function (json) {
            showEditModal(json.data)
        })
    })

    //编辑数据
    $('.j-edit-subject-submit').click(function (e) {
        $.post('/api/subject/update/' + $('#editSubjectModal [name=id]').val(), {
            name: $('#editSubjectModal [name=name]').val(),
            intro: $('#editSubjectModal [name=intro]').val(),
            detail: $('#editSubjectModal [name=detail]').val(),
            image: $('#editSubjectModal [name=image]').val()
        }).done(function (json) {
            if (json.err === 0) {
                alert('提交成功')
                location.reload()
            } else {

            }
        }).error(function (err) {

        })
    })

    $('.j-action').on('click', '.j-add-subject', function (e) {

        $('#addSubjectModal').modal(true)
    })

    $('.j-action').on('click', '.j-add-chapter', function (e) {
        $('#addChapterModal').modal(true)
    })

    $('.j-add-subject-submit').click(function () {
        var name = $('#addSubjectModal input[name=name]').val().trim()
        var intro = $('#addSubjectModal input[name=intro]').val().trim()
        var detail = $('#addSubjectModal input[name=detail]').val().trim()
        var image = $('#addSubjectModal input[name=image]').val().trim()
        var is_leaf = $('#addSubjectModal input[name=is_leaf]:checked').val().trim()
        var parent_id = $('#addSubjectModal input[name=parent_id]').val().trim()
        $.post('/api/subject/add', {
            name: name,
            intro: intro,
            detail: detail,
            image: image,
            is_leaf: is_leaf,
            parent_id: parent_id
        }).done(function (json) {
            if (json.err === 0) {
                alert(json.msg || '提交成功')
            } else {
                alert(json.msg || '提交失败')
            }
        }).error(function (err) {
            alert(err.message)
        })

    })

    function showEditModal(data) {
        $('#editSubjectModal [name=id]').val(data.id)
        $('#editSubjectModal [name=name]').val(data.name)
        $('#editSubjectModal [name=intro]').val(data.intro)
        $('#editSubjectModal [name=detail]').val(data.detail)
        $('#editSubjectModal [name=image]').val(data.image)
        $('#editSubjectModal').modal(true)
    }

    function showSubjectList(parent_id) {
        $.get('/api/subject/list?parent_id=' + parent_id).done(function (json) {
            $('#table tbody').empty().append(template.render($('#list-tpl').html(), json))
        }).error(function (err) {
            alert(err.message)
        })
    }

    function showChapterList(subject_id, parent_id) {
        $.get('/api/chapter/list?subject_id=' + subject_id + '&parent_id=' + parent_id).done(function (json) {
            $('#table tbody').empty().append(template.render($('#list-tpl').html(), json))
        }).error(function (err) {
            alert(err.message)
        })
    }

</script>
{%end%}