{%extends base.html%}
{%block content%}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            用户列表
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {%for user in users%}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.status}}</td>
                    <td>{{user.created_at}}</td>
                    <td>{{user.updated_at}}</td>
                    <td>{% if user.status == 1%}
                        <button class="btn btn-xs btn-danger">禁用</button>
                        {%else%}
                        <button class="btn btn-xs btn-primary">启用</button>
                        {%end%}
                    </td>
                </tr>
                {%end%}
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                {%set total = page_info["total"]%}
                <ul class="pagination">
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    {%if total < 5%}
                    {%for i in range(1, total+1)%}
                    <li><a href="/user/list?page={{i}}">{{i}}</a></li>
                    {%end%}
                    {%else%}
                    <li><a href="/user/list?page={{page_info['total']}}">{{page_info['total']}}</a></li>
                    {%end%}
                    <li><a href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>
<!-- /.row -->
{%end%}