{%extends base.html%}
{%block content%}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            用户新增
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="index.html">用户管理</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> 用户新增
            </li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <form role="form">
            <div class="form-group">
                <label>邮箱</label>
                <input class="form-control" type="email" name="email">
            </div>
            <div class="form-group">
                <label>密码</label>
                <input class="form-control" type="password" name="password">
            </div>
        </form>


        <button type="submit" class="btn btn-default" id="submit">提交</button>
        <button type="reset" class="btn btn-default">重置</button>
    </div>
</div>
<!-- /.row -->
<!-- /.row -->
<!-- /.row -->
{%end%}

{%block js%}
<script type="text/javascript">
    $('#submit').click(function () {
        var email = $('input[name=email]').val().trim()
        var password = $('input[name=password]').val().trim()
        $.post('/api/register', {
            email: email,
            password: password
        }).done(function (json) {
            if (json.err === 0) {
                alert(json.msg || '提交成功')
            } else {
                alert(json.msg || '提交失败')
            }
        }).error(function (err) {
            alert(err.message)
        })

    })
</script>
{%end%}